{% extends "base.html" %}
{%- block content %}
{% if index_title %}
	<h6>{{ index_title }}</h6>
{% endif %}
{% for article in articles_page.object_list %}
	{% set content = article.summary %}
	{% include "includes/article_content.html" %}
	{% if not loop.last %}<div class="divider">&#167;</div>{% endif %}
{% endfor %}
{%- if articles_page %}
<nav id="pagination">
	{% if articles_page.has_previous() %}
		<a href="{{ SITEURL }}/{{ articles_previous_page.url }}">&laquo;</a>
	{% else %}
		<span class="nolink">&laquo;</span>
	{% endif %}
	{{ articles_page.number }} / {{ articles_paginator.num_pages }}
	{% if articles_page.has_next() %}
		<a href="{{ SITEURL }}/{{ articles_next_page.url }}">&raquo;</a>
	{% else %}
		<span class="nolink">&raquo;</span>
	{% endif %}
</nav>
{%- endif%}
{% endblock content -%}
