      <footer>
        <div>
          <div>
            <h1>Navigate</h1>
            <ul>
              <!-- site navigation tabs -->
              {% for tab in site.data.tabs %}
                <li>
                  <a href="{{ tab.link }}">{{ tab.name }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
          <div>
            <h1>RIT</h1>
            <ul>
              <!-- RIT footer links -->
              {% for item in site.data.footer.rit %}
                <li>
                  <a href="{{ item.link }}">{{ item.name }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
          <div>
            <h1>Linux Resources</h1>
            <ul>
              <!-- linux resources -->
              {% for item in site.data.footer.linux_resources %}
                <li>
                  <a href="{{ item.link }}">{{ item.name }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
          <div>
            <h1>Feeds</h1>
            <ul>
              <!-- feeds -->
              {% for item in site.data.footer.feeds %}
                <li>
                  <a href="{{ item.link }}">{{ item.name }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <div>
          <div>
            Site Information
          </div>
          <ul>
            <li>With the exception of posts and talks (whose copyrights are held by their creators and not RITlug), site content is under a CC0 1.0 Universal license.</li>
          </ul>
        </div>
      </footer>
