      <header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
        <div class="mdl-layout--large-screen-only mdl-layout__header-row">
        </div>
        <div class="mdl-layout--large-screen-only mdl-layout__header-row">
                <h3><img src="/img/ritlug.png"/>RIT Linux Users Group</h3>
        </div>
        <div class="mdl-layout--large-screen-only mdl-layout__header-row">
        </div>
        <div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark">
          <a href="/" class="mdl-layout__tab">Home</a>
          <a href="/about.html" class="mdl-layout__tab">About</a>
          <a href="/schedule.html" class="mdl-layout__tab">Schedule</a>
          <a href="/talks" class="mdl-layout__tab">Talks</a>
          <a href="/connect.html" class="mdl-layout__tab">Connect</a>
          <!-- This is the Material floating button
          <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-shadow--4dp mdl-color--accent" id="add">
            <i class="material-icons" role="presentation">add</i>
            <span class="visuallyhidden">Add</span>
          </button>
          -->
        </div>
      </header>
 
