      <header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
<a href="https://github.com/ritlug/ritlug.github.io"><img class="mdl-layout--large-screen-only" style="z-index: 10; position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/652c5b9acfaddf3a9c326fa6bde407b87f7be0f4/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6f72616e67655f6666373630302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png"></a>
        <div class="mdl-layout--large-screen-only mdl-layout__header-row">
        </div>
        <div class="mdl-layout--large-screen-only mdl-layout__header-row">
                <h3><img src="/img/ritlug.png"/>RIT Linux Users Group</h3>
        </div>
        <div class="mdl-layout--large-screen-only mdl-layout__header-row">
        </div>
        <div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark">
          <a href="/" class="mdl-layout__tab">Home</a>
          <a href="/about.html" class="mdl-layout__tab">About</a>
          <a href="/schedule.html" class="mdl-layout__tab">Schedule</a>
          <a href="/talks" class="mdl-layout__tab">Talks</a>
          <a href="/get-involved.html" class="mdl-layout__tab">Get Involved</a>

          <!-- This is the Material floating button
          <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-shadow--4dp mdl-color--accent" id="add">
            <i class="material-icons" role="presentation">add</i>
            <span class="visuallyhidden">Add</span>
          </button>
          -->
        </div>
      </header>
 
