<h1>
	<a rel="bookmark" href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
</h1>
<div class="time">
	<time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>
</div>
{{ content }}
<div class="meta">
	<p>
		{{ "Filed under " }}<a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
		{{ " by " }}<a href="{{ SITEURL }}/{{ article.author.url }}">{{ article.author }}</a>.
		{%- if article.tags -%}
			<br>{{ "Tagged as: " }}{% for tag in article.tags %}
				<a rel="tag" href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>{% if not loop.last %}{{ ", " }}{% endif %}
			{% endfor %}.
		{% endif %}
	</p>
</div>
